* {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
}
h1{
    font-weight: bold;
    font-size: 64px;
}
body{
    background-image: url('https://wallpapercave.com/wp/ALgWRj4.jpg');
    background-repeat: no-repeat;
    background-size:100vw 110vh;
    background-position-y:-10vh;
}

/*Navigation bar*/
nav{
    z-index:2;
    position: relative;
    left: 5%;
    width: 90%;
    margin-top:2%;
    font-size: 32px;
    background-color: #15cfe7;
    color: white;
}
nav a {
    text-align: left;  
    display: inline-block;
    padding: 14px 25px;
}
nav a, a:link, a:visited{
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-color: black;
    opacity:0.5;
}
nav a:active{
    color:#636363;
}
/*Content*/
#content{
    background-color: #000000d7;
    background-size:50vw 60vh;
    position: relative;
    z-index: 2;
    left: 5%;
    width: 90%;
    min-height: 80vh;
    max-height:80vh;
    overflow-y: auto;
    border: 10px solid #15cfe7;
    border-top: none;
}
#content h1,h2, p{
    color: white;
    padding: 5px 20px;
}
#content h2{
    font-weight: bold;
    font-size:32px;
}
#content .articles{
    display: block;
    max-width:90%;
}
#content #sidebar{
    z-index: 3;
    background-color: #15cfe7;
    background-repeat: repeat-y;
    width: 10%;
    min-height: 79vh;
    position: sticky;
    top:0;
    float: right;
}

/*Login*/
#login-form{
    position: relative;
    right: 43%;
    margin-top: 15%;
}
.login-content{
    padding-top:10px;
    text-align: right;
    display:block;
    color: white;
}
.login-content button{
    margin-right:3vw;
}